# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
**/dist/
**/build/
**/flutter_build/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.dart_tool/

# Android
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/*.iml

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
